<div class="container-fluid main-container">
  <%= render 'goal/leftMenu' %>
  <div class="col-md-10 content">
    <article class="panel panel-default">
      <header class="panel-heading">

      </header>
      <section class="panel-body">
        <h3>2016年度目標：「裝備」一領一，「門徒」新倍加。</h3>
        <h4>「你若在這些事提醒弟兄們，便是基督耶穌的好執事，</h4>
        <h4>在真道的話語和你向來所服從的善道上得了教育。」（提前四6）</h4>
        <h4>「你要以宣讀，勸勉，教導為念，直等到我來…。</h4>
        <h4>這些事你要殷勤去作，並要在此專心，使眾人看出你的長進來。」（提前四13，15）</h4>
        <p><i class="fa fa-paper-plane"></i>目標</p>
        <p>鼓勵信徒認識聖經和裝備領袖，並每日有固定的靈修生活，</p>
        <p>使屬靈生命得以成長。藉由提高信仰的素質，且著重信心的建立，靈命的塑造和生命的見証。</p>
        <p><i class="fa fa-paper-plane"></i>事工</p>
        <p>1.長執的裝備。(長執訓練、領袖之夜)</p>
        <p>2.屬靈家長的裝備。(陪讀事工影片、領袖之夜)</p>
        <p>3.平信徒同工講座。(領詩帶領與讚美、關懷探訪講座、靈修與禱告)</p>
        <img src="/images/goal/2016.jpg" alt="埔墘長老教會" class="content-img" />
      </section>
    </article>
  </div>
</div>